@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #222222;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
ul,
li {
  list-style: none;
}

.list-ul {
  gap: 32px;
}

/* Header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 170px;
  padding-right: 170px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  display: none;
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 16px;
}

.list-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

.list-link:hover {
  color: #de2e54;
}

.header-logo-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  transition: 0.3s;
}

.header-logo-text:hover {
  color: #de2e54;
}

/* NavBar */

.list-ul {
  display: flex;
  align-items: center;
}

/* Header Button link */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 50px;
  background-color: #de2e54;
  border: 2px solid #de2e54;
  border-radius: 8px;
  font-weight: 700;
  line-height: 150%;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background-color: white;
  border: 2px solid #de2e54;
  color: #de2e54;
}

.btn:active {
  background-color: white;
  border: 2px solid #de2e54;
  color: #de2e54;
  opacity: 80%;
}

/* Hero Section */

.hero {
  background-color: #0eb4c1;
  position: relative;
  box-sizing: border-box;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 170px;
}

.hero-content-left-information {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-left-title {
  font-weight: 700;
  font-size: 36px;
  color: white;
  line-height: 120%;
}

.hero-left-text {
  font-weight: 400;
  color: white;
  font-size: 18px;
  line-height: 150%;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  background-color: #de2e54;
  border: 2px solid #de2e54;
  border-radius: 8px;
  font-weight: 600;
  line-height: 150%;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
  margin-top: 36px;
}

.hero-btn:hover {
  opacity: 80%;
}

.hero-btn:active {
  opacity: 60%;
}

.hero-content-right-img {
  position: relative;
  bottom: -5px;
}

/* Section Services (Hizmatlar) */

.services-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 56px;
}

.services-list {
  display: flex;
  flex-direction: column;
  gap: 150px;
  align-items: center;
  width: 100%;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 64px;

  position: relative;
}

.services-img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  box-shadow: 0 12px 24px -8px #006b74;
  position: relative;
}

.list-item-information {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.services-title-information {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}

.btn-services {
  margin-top: 60px;
  display: flex;
  justify-self: center;
  cursor: pointer;
}

/* CTA */

.cta {
  background-color: #0eb4c1;
  padding-top: 64px;
  padding-bottom: 64px;
}

.cta-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.cta-btns {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.cta-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 214px;
  height: 42px;
  border-radius: 8px;
  border-width: 2px;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

.cta-link:hover {
  background-color: #de2e54;
  border: 2px solid #de2e54;
}

/* Footer */

.footer {
  background-color: #222222;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-link-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
  color: white;
}

.list-link-footer:hover {
  color: #de2e54;
}

.header-logo-link-footer {
  color: white;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 1260px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
  .nav {
    display: none;
  }
  .burger-menu {
    display: block;
  }

  .footer {
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer-menu path {
    fill: white;
  }
}

@media (max-width: 1160px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .hero-content-left {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero-left-title {
    font-size: 23px;
  }
  .hero-left-text {
    font-size: 14px;
  }
  .hero-btn {
    align-self: flex-end;
    margin-right: 10px;
  }
}

@media (max-width: 880px) {
  .list-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
  }
  .btn-services {
  }

  .item-text {
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .services-list {
    align-items: center;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .item-text {
    font-size: 14px;
    text-align: center;
  }
}

@media (max-width: 820px) {
  .header {
    padding-left: 100px;
    padding-right: 100px;
  }
  .header-btn {
    display: none;
  }
  .hero-left-title {
    margin-top: 50px;
  }
}

@media (max-width: 620px) {
  .hero-content-right-img {
    width: 350px;
    height: 400px;
  }
  .hero-left-title {
    margin-top: 50px;
  }
}

@media (max-width: 486px) {
  .cta-link {
    width: 180px;
    font-size: 12px;
    font-weight: 600;
  }

  .cta-title {
    font-size: 23px;
    line-height: 110%;
    font-weight: 600;
  }
}

@media (max-width: 451px) {
  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-logo-text {
    display: none;
  }
  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 405px) {
  .cta {
    padding-left: 5px;
    padding-right: 5px;
  }

  .cta-link {
    width: 150px;
    font-size: 10px;
    font-weight: 500;
  }
}

@media (max-width: 371px) {
  .hero-content-right-img {
    width: 300px;
    height: 350px;
  }
  .hero-content-left-information {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-left-title {
    font-size: 18px;
  }

  .hero-left-text {
    font-size: 12px;
  }
}

@media (max-width: 336px) {
  .hero-content-left-information {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }

  .cta-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-left-title {
    margin-top: 50px;
  }
}

@media (max-width: 301px) {
  .cta-title {
    font-size: 18px;
  }
}
